#quizButton {
  color: black;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 23vw;
  min-width: 100px;
  height: 15vh;
  background-color: #eee;
  border-radius: 25px;
  border: 0.5px solid grey;
}

#quizButton:hover {
  background-color: #ddd;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  cursor: grabbing;
}
